

table, th, td, tr {
    border: 1px solid black;
}


td.pfp>img {
    width: 40px;
    height: 40px;
}

th.number {
    width: 40px;
}

th.pfp {
    width: 40px;
}

th.name {
    width: 250px;
}

th.email {
    width: 200px;
}

th.phone {
    width: 140px;
}